name: Publish release
on:
  release:
    types: [published]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 21
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build
        run: ./gradlew build
      - name: Build inklecate jar
        run: ./gradlew :inklecate:jar -Prelease
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - name: Publish runtime to Maven Central
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          ./gradlew :runtime:clean :runtime:publish -Prelease \
            -Psigning.gnupg.keyId=${{ secrets.GPG_KEYID }} \
            -Psigning.gnupg.passphrase=${{ secrets.GPG_PASSPHRASE }} \
            -Psigning.gnupg.keyName=${{ secrets.GPG_KEYID }}
      - name: Publish compiler to Maven Central
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          ./gradlew :compiler:clean :compiler:publish -Prelease \
            -Psigning.gnupg.keyId=${{ secrets.GPG_KEYID }} \
            -Psigning.gnupg.passphrase=${{ secrets.GPG_PASSPHRASE }} \
            -Psigning.gnupg.keyName=${{ secrets.GPG_KEYID }}
      - name: Upload inklecate jar to GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: inklecate/build/libs/*.jar
